.body {
    background-color: rgb(237, 238, 240);
    position: relative;
    height: 100%;
  }

.container {
  width: 500px;
}

.main-box {
  display: flex;
  justify-content: space-evenly;
}

.top-players {
  margin-top: 30px;
  text-align: center;
}

#players-list {
  text-align: center;
  margin-bottom: 200px;
}

.top-ranking {
  margin-top: 30px;
  text-align: center;
}

.panel {
  font-weight: 800;
  font-size: 15px;
}

.panel-body {
  height: 51px;
}

th {
  text-align: center;
}

td {
  width: 100px;
}

tr {
  height: 80px;
}

.player {
  width: 200px;
  font-weight: bold;
}

.photo {
  width: 90px;
  height: 70px;
  margin-top: 20px;
}

.rank {
  font-size: 15px;
  font-weight: bold;
  color: #B23A48;
}

.name {
  font-weight: bold;
}

