.body {
  background-color: rgb(237, 238, 240);
  position: relative;
  height: 100%;
}

.rules {
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.panel {
  font-weight: 800;
  font-size: 15px;
  justify-content: center;
}

.panel-body {
  background-color: #0A1045;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 51px;
}